
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(people:people)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-name>{{ people?.name }}</ion-name>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteFilm()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteFilm()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding="">
 
  <ion-card *ngIf="people" class="people-info">
    <ion-card-header>Name {{ people.name }}: {{  }}</ion-card-header>
    <ion-card-content>
      {{ people.films }}
    </ion-card-content>
 

 
</ion-content>